# Node
node_modules
npm-debug.log
yarn-error.log

# Build
dist
build

# Ambiente
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Testes
coverage
.nyc_output

# Documentação
README.md

